[global]
username = "{{ ansible_vault_spotify_user }}"
password = "{{ ansible_vault_spotify_pwd }}"
backend = "alsa"
device = "default:CARD=sndrpihifiberry"
mixer = "PCM"
volume-controller = "alsa"
device_name = "Hi-Pi"
bitrate = 320
volume-normalisation = false 
normalisation-pregain = 0
